<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bhumi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Infectable Bug Renderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InfectableBugRenderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>InfectableNonLinearBugMobileRenderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>InfectableNonLinearBugRenderer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>943DD031163C75220009F4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943DD0AB163C767F0009F4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943DD0D4163C76D10009F4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>943DD117163C77F70009F4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94540AEA160597A200C84C5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9490346D1610C6870003C023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9490348C1610C6880003C023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949034B21610E0F00003C023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949034CC1610E0F00003C023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949034E41610E13F0003C023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>949034FE1610E13F0003C023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94DFF868161A468000D94B2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
